@import '../../global.scss';

.hamburger {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 10px;
    z-index: 6;

    @include tab {
        display: flex;
    }

    &.active {

        .line {
            background-color: #fff;

            &:nth-child(1) {
                transform: rotate(45deg) translate(3.3px, .1px);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }

            &:nth-child(3) {
                transform: rotate(45deg) translate(-2px, -8px);
            }
        }
    }

    .line {
        height: 2px;
        width: 100%;
        background-color: #0d1b2a;
        border-radius: 21px;
        transition: all .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);

        &:nth-child(1) {
            width: 25%;
        }

        &:nth-child(2) {
            width: 100%;
        }

        &:nth-child(3) {
            width: 75%;
        }
    }
}