.register {
    animation: reveal .5s linear;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 500px;
        background-color: var(--white);
        border-radius: 5px;

        .header {
            text-align: center;
            font-size: 28px;
            font-weight: 500;
            padding: 10px 0;
            border-bottom: 1px solid grey;
        }

        .registerForm {
            padding: 10px;

            .formInput {
                width: 100%;
            }

            .primaryBtn {
                width: 100%;
            }
        }
    }
}