.input {
    padding: 10px 15px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
}