.primaryBtn {
    padding: 10px 15px;
    min-width: 150px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: var(--primaryBtn);
    color: var(--white);
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}