@import '../../global.scss';

.store {
    animation: reveal .5s linear;
    padding: 10px;

    .categories {

        .header {
            span {

            }
        }

        .categoryContainer {
            display: flex;
            gap: 20px;
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }

    .header {
        font-size: 28px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 10px 0;

        @include mobile {
            font-size: 20px;
        }

        span {
            color: rgba(0,0,0,.5);
        }
    }

    .storeWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}