.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
    margin: 10px 0;

    p {
        font-size: 14px;
        font-weight: 600;

        span {
            color: #ff4d6d;
        }

        a {
            color: #ff4d6d;
        }
    }
}