@import '../../global.scss';

.navbar {
    height: 60px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    background-color: #dee2e6;
    z-index: 10;

    @include tab {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 10px;
    }

    .navLeft {
        width: 50%;

        .logoContainer {

            .logo {
                width: 100px;
            }
        }
    }

    .navRight {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;

        .navRightImgContainer {
            position: relative;

            .navRightImg {
                width: 30px;
                padding: 2px;
            }

            .widget {
                position: absolute;
                top: -5px;
                right: -8px;
            }
        }
    }
}